.custom-card-header {
    padding: unset !important;
}

.delete_btn,
.restore_btn {
    padding: 0;
    position: relative;
    top: -2px;
}


.invalid-field {
    font-weight: 400 !important;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #fd397a;
}

.custom-card-block {
    height: 85px;
}

.input_from,
.input_to {
    padding: 0.175rem 0.35rem;
}

.sidebar-nav ul .sidebar-item .sidebar-link i {
    font-size: 16px !important;
}

.info-header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.highlighted-block {
    background-color: powderblue;
    color: black;
    padding-top: 8px;
}

@media print {
    .card-group {
        flex-flow: row wrap;
        width: 100%;
    }
    .hidden-print {
        display: none !important;
    }
    .printable-card-group-element {
        width: 50% !important;
    }
}

.custom-list {
    padding: unset;
    list-style: none;
}

.zoom-image {
    transition: transform .2s;
    /* Animation */
    /*width: 200px;*/
    margin: 0 auto;
}

.zoom-image:hover {
    transform: scale(1.5);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.limited-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 12ch;
}

.table td,
.table th {
    vertical-align: middle !important;
}


.wizard-content .wizard,
.wizard>.content,
.wizard-content .wizard>.content {
    overflow: auto !important;
}

.card-img-top {
    height: 155px !important;
}

.wrapper {
    position: relative;
    max-width: 1080px;
}

.wizard {
    max-width: 620px;
    margin: 0 auto;
}

@keyframes gettingOut {
    0% {
        transform: translateY(0%);
    }
    30% {
        transform: translateY(100px);
    }
    100% {
        transform: translateY(-200%);
    }
}

@keyframes fadeIn {
    100% {
        opacity: 1;
    }
}
@media (min-width: 1025px){
    .kt-header--fixed.kt-subheader--fixed .kt-subheader {
top: 36px !important;
    }
}
#kt_header{
    display: flex;
    justify-content: flex-end;
    height: 40px;
}
#kt_content{
    padding: 0 !important;
}
.btn-link:hover, .btn-link:active, .btn-link:focus {
    color: #0056b3 !important;
    text-decoration: underline !important;
    background-color: transparent !important;
    border-color: transparent !important;
}

